*.swp
*~
ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.log
config.status
configure
m4/*.m4
po/*.gmo
po/*.po
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/duff.pot
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
po/*.header
po/*.insert-header
src/*.o
src/.deps
src/config.h
src/config.h.in
src/duff
src/stamp-h1
